{{! Head Content}}
<header class="navbar-fixed">
    <nav id="headNav" class="bf-head-color none-shadow">
        <div id="navContainer" class="container">
            <div class="nav-wrapper hide-on-med-and-down">
                <div class="brand-logo">
                    <a href="{{@blog.url}}" class="waves-effect waves-light typewrite" data-period="2000" data-type='[ "{{@blog.title}}" ]'>
                        {{#if @blog.logo}}
                        <img src="{{@blog.logo}}" class="logo-img hide-on-small-only">
                        {{/if}}
                        <span class="logo-span"></span>
                    </a>
                </div>
                {{! Navigation menu }}
                {{navigation}}
            </div>
            {{! End mobile navigation details}}
            <div class="nav-wrapper hide-on-large-only">
                <a href="javascript: history.go(-1);" class="left go-back waves-effect waves-light">
                    <i class="fa fa-arrow-left fa-lg"></i>
                </a>
                <div class="brand-logo">
                    <a href="{{@blog.url}}" class="waves-effect waves-light typewrite" data-period="2000" data-type='[ "{{@blog.title}}" ]' >
			        <span class="brand-span wrap"></span>
	     	    </a>
                </div>
                <a href="/" class="right go-back modal-trigger waves-effect waves-light">
                    <i class="fa fa-home fa-lg"></i>
                </a>
            </div>
        </div>
    </nav>
</header>